<div>
    <div id="IntroImg">
        <div class="headerText img-responsive">
            <span id="SayHi" style="font-size:48px; text-shadow: black 3px 2px 4px; color:white; text-transform:uppercase;">Welcome Summoner!</span>
            <br />

            <span style="font-size:24px; /* font-weight:normal;*/ text-shadow: black 3px 2px 4px; color:white; text-transform:uppercase;">your League of Legends website!</span>
        </div>

    </div>
</div>

<div class="alert alert-success" role="alert">
    <div class="container bonus">
        <div class="text-center">
            <strong>Attention!</strong>
            We have special promotion for our customers!
            <a class="alert-link" href="/PurchaseDivisionBoost">Get -30% discount</a>
            .
        </div>
    </div>
</div>

<br />
<div class="row main-container container" style="margin:0 auto;">
    <div class="col-md-4">
        <img src="assets/images/bigSize/secure.png" class="img-responsive center-block" />
        <p style="text-align: justify; font-size:16px; font-weight:bold;">High-elo.net prioritizes quality, speed and safety, and we value the trust and loyalty between the customer and the company. We will provide exceptionally trustworthy and responsible boosters, with an added layer of security for your elo boosting by making all the boosters use VPN’s when they play on your account.</p>

    </div>
    <div class="col-md-4">
        <img src="assets/images/bigSize/memebers-area.png" class="img-responsive center-block" />
        <p style="text-align: justify; font-size:16px; font-weight:bold;">
            The most sophisticated members area for any boosting site! You can follow the boosters progress, see match history, chat live with the booster, request a specific booster , track previous orders and much more! Get your lol boost today!
        </p>

    </div>

    <div class="col-md-4">
        <img src="assets/images/bigSize/guides.png" class="img-responsive center-block" />
        <p style="text-align: justify; font-size:16px; font-weight:bold;">Want to learn a new hero? Check out our guides, written by professional League of Legends players! All guides include in depth videos and champion analysis in addition to the standard guide setup and are written by Master and Challenger Players. Guides are a perfect way to complement an elo boost!</p>
    </div>
</div>

<br />

<div class="featurette-heading">
    <div class="container">
        <hr />
        <div class="col-md-7">
            <h2 class="featurette-heading">We Take Security Seriously</h2>
            <div style="border-bottom:3px solid rgb(51, 122, 183); width:120px; padding-top:10px;"></div>
            <p class="lead" style="padding-top:10px;">High-elo.net has been boosting for 2 years. Our boosters are all veterans who have reached Challenger at least once in their LoL career, or ex-professional players who boost for a living now. We take customer account security very seriously. LoL Academy boosters use VPNs while playing to protect both our customers and themselves. They have strict instructions to conduct themselves in a professional and civil manner, and they are generally really friendly people.</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/bigSize/homepage-poppy.png" class="img-responsive" width="500" height="500" />
      
        </div>
    </div>
    <div class="container">
        <hr />
        <div class="col-md-5">
         
            <img src="assets/images/bigSize/homepage-ezreal.jpg" class="img-responsive" width="500" height="500" />
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Meet Our Coaches</h2>
            <div style="border-bottom:3px solid rgb(51, 122, 183); width:120px; padding-top:10px;"></div>
            <p class="lead" style="padding-top:10px;">
                Our roster of coaches include Challenger and Master players, some ex-LCS players and even one World Champion from Season 1!
                Take your pick, all of them have years of coaching experience, and if you're unsure of who to go for, feel free to have a chat with us and we will recommend someone who we think will suit your needs.
            </p>
        </div>

    </div>
</div>

<div class="container">
    <hr />
    <h1 class="text-center">Customers opinion</h1>
    <br />
</div>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="" alt="" style="width:100%; height:200px; background-color: #808080;">
            <div class="carousel-caption">
                <h2>Eduard</h2>
                <h4>Great boost took only <b>4hours</b> after the order to reach the goal :D” Eduard W. after boost to Gold V.</h4>
                <br />
            </div>
        </div>

        <div class="item">
            <img src="" alt="" style="width:100%; height:200px;  background-color: #808080;">
            <div class="carousel-caption">
                <h2>Tony</h2>
                <h4>
                    “I am surprised by the speed of boost, i highly recommend this service, probably i will be back here again :)”
                    <b>Tony K.</b> after boost to <b>Gold II</b>
                </h4>
                <br />
            </div>
        </div>

        <div class="item">
            <img src="" alt="" style="width:100%; height:200px;  background-color: #808080;">
            <div class="carousel-caption">
                <h2>Arnold</h2>
                <h4>
                    “Molyporphlol was an absolute pleasure to deal with. He answered my questions, <b>won 6 games</b> straight which got me into Silver V,
                    despite severe ELO clamping on my account. I will definitely use this service again - Mad props to Elo-Boost.net and in particula”
                    Arnold B. after boost to <b>Silver V</b>
                </h4>
                <br />
            </div>
        </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br />

<div class="container">
    <h1 id="navbar" class="page-header">
        <a class="anchorjs-link " href="#navbar" aria-label="Anchor link for: navbar" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>
        Important questions
    </h1>
    <h2 id="navbar-default">
        <a class="anchorjs-link " href="#navbar-default" aria-label="Anchor link for: navbar default" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>
        Helpdesk
    </h2>
    <p>
        If you can't find an answer to your question, you met some problem or you want just give us a feedback, feel free to shout us an email. We are always up for a chat.
    </p>
    <div id="callout-navs-tabs-plugin" class="bs-callout bs-callout-info">
        <h4>I am afraid to give my account Username and Password, Is my account safe?</h4>
        <p>
            Our boosters who will have access to your login and password are all highly trusted Diamond I/Master/Challenger players, so there is no way something like this will ever happen.
            I would recommend to change your account password to a temporary password before ordering any services, also have your account E-mail verified on the League of Legends Website.
        </p>
    </div>

    <div id="callout-navs-tabs-plugin" class="bs-callout bs-callout-info">

        <h4>I see that you only accept Paypal payments, can I choose any other one?</h4>
        <p>
            Yes, we also accept skrill, pay safe cards and bank transfers. Also you can choose to pay with your credit card on the Paypal checkout page by selecting: I do not have a Paypal account option.
        </p>
    </div>

    <div id="callout-navs-tabs-plugin" class="bs-callout bs-callout-info">
        <h4>How can I get in contact with the booster?</h4>
        <p>
            You can contact us via skype with your questions and we will contact the booster. skype: SupportLeagueBoosts
        </p>
    </div>

    <div id="callout-navs-tabs-plugin" class="bs-callout bs-callout-info">
        <h4>How does your Service Exactly work?</h4>
        <p>
            You are paying us for playing on your account and getting higher in Solo Queue Ranked Ladder, we got Experienced Diamond I /Challenger boosters so It’s not a problem.
        </p>
    </div>

</div>
<br />

