<div id="orders-container">
  <img id="Unranked_I" src="assets/images/division/Unranked.png" class="Unranked_I img-responsive hidden" />

  <img id="Bronze_V" src="assets/images/division/Bronze_V.png" class="Bronze_V img-responsive hidden" />
  <img id="Bronze_IV" src="assets/images/division/Bronze_IV.png" class="Bronze_IV img-responsive hidden" />
  <img id="Bronze_III" src="assets/images/division/Bronze_III.png" class="Bronze_III img-responsive hidden" />
  <img id="Bronze_II" src="assets/images/division/Bronze_II.png" class="Bronze_II img-responsive hidden" />
  <img id="Bronze_I" src="assets/images/division/Bronze_I.png" class="Bronze_I img-responsive hidden" />

  <img id="Silver_V" src="assets/images/division/Silver_V.png" class="Silver_V img-responsive hidden" />
  <img id="Silver_IV" src="assets/images/division/Silver_IV.png" class="Silver_IV img-responsive hidden" />
  <img id="Silver_III" src="assets/images/division/Silver_III.png" class="Silver_III img-responsive hidden" />
  <img id="Silver_II" src="assets/images/division/Silver_II.png" class="Silver_II img-responsive hidden" />
  <img id="Silver_I" src="assets/images/division/Silver_I.png" class="Silver_I img-responsive hidden" />

  <img id="Gold_V" src="assets/images/division/Gold_V.png" class="Gold_V img-responsive hidden" />
  <img id="Gold_IV" src="assets/images/division/Gold_IV.png" class="Gold_IV img-responsive hidden" />
  <img id="Gold_III" src="assets/images/division/Gold_III.png" class="Gold_III img-responsive hidden" />
  <img id="Gold_II" src="assets/images/division/Gold_II.png" class="Gold_II img-responsive hidden" />
  <img id="Gold_I" src="assets/images/division/Gold_I.png" class="Gold_I img-responsive hidden" />

  <img id="Platinum_V" src="assets/images/division/Platinum_V.png" class="Platinum_V img-responsive hidden" />
  <img id="Platinum_IV" src="assets/images/division/Platinum_IV.png" class="Platinum_IV img-responsive hidden" />
  <img id="Platinum_III" src="assets/images/division/Platinum_III.png" class="Platinum_III img-responsive hidden" />
  <img id="Platinum_II" src="assets/images/division/Platinum_II.png" class="Platinum_II img-responsive hidden" />
  <img id="Platinum_I" src="assets/images/division/Platinum_I.png" class="Platinum_I img-responsive hidden" />

  <img id="Diamond_V" src="assets/images/division/Diamond_V.png" class="Diamond_V img-responsive hidden" />
  <img id="Diamond_IV" src="assets/images/division/Diamond_IV.png" class="Diamond_IV img-responsive hidden" />
  <img id="Diamond_III" src="assets/images/division/Diamond_III.png" class="Diamond_III img-responsive hidden" />
  <img id="Diamond_II" src="assets/images/division/Diamond_II.png" class="Diamond_II img-responsive hidden" />
  <img id="Diamond_I" src="assets/images/division/Diamond_I.png" class="Diamond_I img-responsive hidden" />

</div>