<div class="row">
  <div class="col-sm-4 col-md-4">

    <div id="price-container">

      <h2 class="text-left">
        Price:
        <span style="color:green;">
          {{price}} &euro;
        </span>
      </h2>


    </div>
    <button type="submit" class="btn btn-primary btn-lg" name="ChangeActuallPrice">Confirm and pay</button>
  </div>
  <div class="col-sm-1 col-md-1"></div>
  <div class="col-sm-7 col-md-7">
    <img src="assets/images/bigSize/Paypal_Secure.jpg" class="img-responsive" height="100" />
  </div>

</div>

<div class="row" style="margin:3px;">
  <hr />
  <p>
    <b> Every account is VPN protected by our dedicated application.</b>
  </p>
  <p>
    Contains full boost to 0LP desired league, no additional costs if we fail promotion (we will play until we achieve it).
  </p>
  <br />
  <p>
    Service available for North America, Europe West, Europe Nordic & East, Brazil, Latin America, Russia, Turkey and Oceania!
  </p>
</div>