.logo {
    color: #00abec !important;
}

menu {
    font-size: 1.2em !important;
}

.client-logo {
    color: #a5ce00 !important;
}

.admin-logo {
    color: orange !important;
}

.booster-logo {
    color: #00abec  !important;
}

.main-container {
    padding-left: 15px;
    padding-right: 15px;
}

.field-validation-error {
    color: Red;
}

.validation-summary-errors {
    font-weight: bold;
    color: Red;
}