
 

<div class="navbar navbar-inverse navbar-fixed-top" style="opacity:0.95;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <li>
                <a class = "logo navbar-brand" routerLink="home"> High - Elo</a>
            </li>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="menu" routerLink="home"> Home</a>
                </li>
                <li>
                    <a class="menu" > Buy Boost</a>
                </li>
                <li>
                    <a class="menu" routerLink="faq"> FAQ</a>
                </li>
                <li>
                    <a class="menu"> Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<router-outlet></router-outlet>